* {
  box-sizing: border-box;
}
body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body h3 {
  margin-left: 20px;
}

iframe {
  border: none; 
  width: 100%;
  height: 100%;
}

/* Stil za div #osnovno */
#osnovno {
  text-align: left;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#osnovno img {
  max-width: 100%;
  height: auto;
}

/* Stil za div #detalji */
#detalji, #interesovanja-dodaj {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#kolona1 {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
}

#kolona2 {
  order: 2;
  flex: 1 1 auto;
  align-self: auto;
}

#opis {
  order: 3;
  flex: 0 1 100%;
  align-self: auto;
}


/* Stil za div #upiti */
#upiti, #interesovanja-lista {
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;

  position: relative;
  overflow: hidden;
}

.upit, .nekretnina, .interesovanje {
  border: 1px solid #000;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.nekretnina {
  text-align: center;
}

.prev, .next {
  display: inline;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev:hover, .next:hover {
  color: #fdf1d3;
  background-color: rgba(0,0,0,0.8);
}

.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.upit,
.interesovanje {
  display: none;
}

.upit:first-child,
.interesovanje:first-child {
  display: block;
}

#top5 {
  display: none;
}

#top5__naslov {
  text-align: center;
}

#top5__nekretnine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

#interesovanja-dodaj {
  justify-content: center;
  align-items: center;
}

#interesovanje-forma {
  display: flex;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  gap: 20px;
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  background-color: #ffffff;
  border: 1px solid #000;
}

#interesovanje-forma textarea {
  resize: vertical;
}

#interesovanje-forma input,
#interesovanje-forma select,
#interesovanje-forma button,
#interesovanje-forma textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 0.1rem;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

#datum-interesovanja {
  display: none;
}

#interesovanje-forma label,
#interesovanje-forma input[type="checkbox"] {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

#dodaj-interesovanje {
  width: 30%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
}

#interesovanje-forma button,
#dodaj-interesovanje {
  background-color: #000;
  color: #fdf1d3;
  font-weight: bold;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s;
}

#interesovanje-forma button:hover,
#dodaj-interesovanje:hover {
  background-color: #fdf1d3;
  color: #000;
}

.error {
  color: red;
  font-weight: bold;
  text-align: center;
}